.item-container {
  width: 150px;
  height: 300px;
  background-color: rgb(198, 205, 211);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.item-container:hover {
  transform: translateY(-5px);
}
.topImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayedImg {
  border-radius: 10px;
  width: 140px;
  height: 180px;
  margin: 5px;
}

.bottomDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.itemTitle {
  font-size: 12px;
  margin: 0;
}

.itemPrice {
  font-size: 10px;
  font-weight: bolder;
  color: gray;
}

.itemInspect {
  font-size: 10px;
  background-color: rgb(12, 145, 72);
  padding: 5px;
  border-radius: 2px;
  transition: all 1s ease;
}

.itemInspect:hover {
  width: 75%;
  cursor: pointer;
}

.itemInspectText {
  color: aliceblue;
  font-weight: bolder;
}
